<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Upload file <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/match">MatchClose</a>
        </li>
    </ul>
</nav>